* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #a5ffd6 0%, #84dcc6 100%);
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
}
header {
  font-size: 2rem;
}

header,
form {
  color: #254441;
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  color: #254441;
  background: white;
}
input:focus-visible {
  outline: unset;
}
form button {
  padding: 0.5rem 1rem;
  color: white;
  background: #eca400;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: white;
  color: #eca400;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: #254441;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #9e2b25;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn:hover {
  background: #eca400;
  color: #548c2f;
}
.trash-btn:hover {
  background: #eca400;
  color: #9e2b25;
}
.complete-btn {
  background: #548c2f;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: unset;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #eca400;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #eca400;
  cursor: pointer;
  pointer-events: none;
}
/* Transition */

.select:hover::after {
  transform: scale(1.5);
}
